* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 
img {
    width: clamp(200px,10vw,300px);
    height: auto;
}
 
.linhaCor {
    padding: clamp(1vw,2vh,4vh);
    background-color: #e61a4d;
    display: flex;
    justify-content: center;
    color: white;
}
 
.primeiroNav {
    display: flex;
    flex-direction: row;
    background-color: #0a3665;
    padding: clamp(1vh,2vh,4vh);
    align-items: center;
    justify-content: flex-end;
    gap: clamp(1rem,8vw, 8rem);
}
 
li {
    list-style: none;
    font-size: clamp(12px,1vw,24px);
    font-weight: 600;
}
 
a {
    display: block;
    text-decoration: none;
    color: white;
    transition: all ease-in 0.5s;
}

a:hover {
    color: black;
}
 
.a-header {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    transition: all ease 1s;
}

.a-header:hover {
    transform: scale(1.2);
}
 
.segundoNav {
    width: 100vw;
    padding: clamp(2vh, 3vh, 6vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(1rem,2vw,5rem);
   
}
 
.juntarCarrinho {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    font-size: clamp(0.8rem,2vh,2rem);
}
 
.ri-shopping-cart-line {
    font-size: clamp(0.9rem,3vh,2rem);
    color: black;
}
 
.corSegunda {
    background-color: white;
}
 
.a-cart {
    display: block;
    color: black;
    transition: all ease 1s;
}

.a-cart:hover {
    transform: scale(1.2);
}
 
.linhaCorDois {
    background-color: #3A86FF;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
 
.tituloEscolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    text-align: center;
    margin-top: 2vh;
   
}
 
.titulo {
    color: #e61a4d;
    font-weight: 900;
}
 
.containerProdutos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(0.5rem,3rem,8rem);
    margin-top: 2rem;
}
 
.produto {
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    max-width: clamp(300px,20vw,500px);
    box-shadow: 0px 5px 10px;
    transition: all ease-out 0.5s;
}
 
hr {
    width: clamp(300px,20vw,500px);
}
 
button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #1C5133;
    border-radius: 50px;
    color: #1C5133;
    font-weight: 800;
    transition: all ease-out 0.2s;
}
 
footer {
    display: flex;
    font-size: clamp(60px,3vw,100px);
    justify-content: space-around;
    background-color: #0a3665;
    margin-top: 6.35rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
 
.produto:hover {
    transform: scale(1.05);
}
 
button:hover {
    transform: scale(1.05);
    background-color: red;
    opacity: 70%;
    color: white;
    cursor: pointer;
}
